.pagination--btn {
  background: none;
  border: none;

  margin-left: 2px;
  box-shadow: 0 0 2px black;
  color: teal;
}
.pagination--btn__avtive {
  box-shadow: none;
  border: 1px solid rgb(16, 97, 97);
}
button,
button:active,
button:focus {
  outline: none;
}
